:root {
  --firstColor: rgb(17, 17, 138);
  --secondColor: white;
  --thirdColor: rgb(17, 17, 138);

}

body {
  background: white;
  text-align: center;
}

.table-container {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  align-items: center;
  background: black;
  gap: 5px;

}

.cell {
  background: white;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.button1 {
  margin: 20px;

}
.button2 {
  margin: 20px;
  border: red 2.5px solid;

}

.playerWon {
  font-size: 45px;
  color: green;
  animation: sizeChangeInnerCircle 0.9s  infinite;
  /* border: 5px solid; */
  /* border-color: transparent; */
}

/* @keyframes sizeChangeInnerCircle {
  0% {color: var(--firstColor); background-color: var(--secondColor); border: 1px solid var(--thirdColor);}
  50% {color: var(--secondColor); background-color: var(--secondColor); border: 1px solid var(--secondColor);}
  100% {color: var(--firstColor); background-color: var(--secondColor); border: 1px solid var(--thirdColor);}
} */

@keyframes sizeChangeInnerCircle {
  0% {box-shadow: 0px 0px 0px 5px red}
  50% {box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 10px blue} 
  100% {box-shadow: 0px 0px 0px 5px red} 
}