body { 
  background: white;
  text-align: center;
}

.table-container {
  display: inline-block;
}

.grid-container { 
  display: grid;
  grid-template: repeat(3,150px) / repeat(3,150px);
  align-items: center;
  background: black;
  gap: 5px;
  
}

.cell {
  background: white;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

button {
  margin:10px;

}
.playerWon {
  color: blueviolet;
  font-size: 32px;
}
